<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="_header :: common_header(~{::title},~{})">
    <title>Spacemedia</title>
  </head>
  <body>
    <nav th:replace="_header :: navbar"></nav>
    <h1 th:text="'Error 404: page not found'"></h1>
	<p>
	<p>
    <img alt="Progress 404 Spacecraft Arrival during Expedition 22" src="http://images-assets.nasa.gov/image/iss022e055688/iss022e055688~medium.jpg">
	<p>
	<p>
    <span><strong>Progress 404</strong> Spacecraft Arrival during ISS Expedition 22 (NASA, 4 Feb. 2010)</span>
  </body>
</html>
