<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <!-- HEAD fragment -->
  <head th:fragment="common_header(title,links)">

    <title th:replace="${title}">Spacemedia</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Common styles and scripts -->
    <link th:rel="stylesheet" th:href="@{/webjars/datatables/css/dataTables.bootstrap4.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/_spacemedia.css} "/>
    <link rel="shortcut icon" th:href="@{/favicon.ico}">
	<link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon-32x32.png}">
	<link rel="icon" type="image/png" sizes="96x96" th:href="@{/favicon-96x96.png}">
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon-16x16.png}">

    <!--/* Per-page placeholder for additional links */-->
    <th:block th:replace="${links}" />
  </head>
  <body>
    <!-- NAVBAR fragment -->
	<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" th:href="@{/}">
	    <img th:src="@{/iconfinder_EARTH_1715795.svg}" width="30" height="30" class="d-inline-block align-top">
	    Spacemedia
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="https://commons.wikimedia.org/wiki/Commons:Spacemedia">Documentation</a>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	          Sources
	        </a>
	        <ul class="dropdown-menu">
	          <li th:each="agency : ${agencies}"><a class="dropdown-item" th:text="${agency.name}" th:href="@{/{id}(id=${agency.id})}"></a></li>
	        </ul>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="https://gitlab.wikimedia.org/toolforge-repos/spacemedia/-/issues">Issues</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="https://gitlab.wikimedia.org/toolforge-repos/spacemedia/">Repository</a>
	      </li>
	    </ul>
	    <form class="form-inline my-2 my-lg-0" th:action="@{/{id}/search(id=${agency.id})}" th:object="${search}" th:if="${agency != null and search != null}">
	      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" th:field="*{q}">
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	    </form>
	    <a style="margin:0px;padding:0px;margin-top:4px;margin-left:10px;" href="https://tools.wmflabs.org" target="_blank">
	    	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Toolforge_logo.svg/32px-Toolforge_logo.svg.png" width="32px" border="0">
	    </a>
	  </div>
	</nav>

    <!-- JS fragment -->
	<div th:fragment="scripts">
		<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
		<script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/webjars/datatables/js/dataTables.bootstrap5.min.js}"></script>
	</div>
  </body>
</html>