<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
	<ul th:fragment="tabs(tab)" class="nav nav-pills">
	  <li class="nav-item">
	    <a th:class="'nav-link' + ('all' == ${tab} ? ' active' : '') + (${agency.countAllMedia()} == 0 ? ' disabled': '')"
	       th:href="@{/{id}/all(id=${agency.id})}" th:text="'Free Media (' + ${agency.countAllMedia()} + ')'"></a>
	  </li>
	  <li class="nav-item">
	    <a th:class="'nav-link' + ('uploaded' == ${tab} ? ' active' : '') + (${agency.countUploadedMedia()} == 0 ? ' disabled': '')"
	       th:href="@{/{id}/uploaded(id=${agency.id})}" th:text="'Uploaded (' + ${agency.countUploadedMedia()} + ')'"></a>
	  </li>
	  <li class="nav-item">
	    <a th:class="'nav-link' + ('hashes' == ${tab} ? ' active' : '') + (${agency.countPerceptualHashes()} == 0 ? ' disabled': '')"
	       th:href="@{/{id}/hashes(id=${agency.id})}" th:text="'Hashes (' + ${agency.countPerceptualHashes()} + ')'"></a>
	  </li>
	  <li class="nav-item">
	    <a th:class="'nav-link' + ('missing/images' == ${tab} ? ' active' : '') + (${agency.countMissingImages()} == 0 ? ' disabled': '')"
	       th:href="@{/{id}/missing/images(id=${agency.id})}" th:text="'Images to upload (' + ${agency.countMissingImages()} + ')'"></a>
	  </li>
	  <li class="nav-item">
	    <a th:class="'nav-link' + ('missing/videos' == ${tab} ? ' active' : '') + (${agency.countMissingVideos()} == 0 ? ' disabled': '')"
	       th:href="@{/{id}/missing/videos(id=${agency.id})}" th:text="'Videos to upload (' + ${agency.countMissingVideos()} + ')'"></a>
	  </li>
	  <li class="nav-item">
	    <a th:class="'nav-link' + ('ignored' == ${tab} ? ' active' : '') + (${agency.countIgnored()} == 0 ? ' disabled': '')"
	       th:href="@{/{id}/ignored(id=${agency.id})}" th:text="'Ignored (' + ${agency.countIgnored()} + ')'"></a>
	  </li>
	  <li class="nav-item" th:if="${agency.getProblemsCount()}">
	    <a th:class="'nav-link' + ('problems' == ${tab} ? ' active' : '') + (${agency.getProblemsCount()} == 0 ? ' disabled': '')"
	       th:href="@{/{id}/problems(id=${agency.id})}" th:text="'Problems (' + ${agency.getProblemsCount()} + ')'"></a>
	  </li>
	  <li class="nav-item" th:if="${search != null}">
	    <a th:class="'nav-link' + ('topterms' == ${tab} ? ' active' : '')"
	       th:href="@{/{id}/topterms(id=${agency.id})}">Top terms</a>
	  </li>
	  <li class="nav-item" th:if="${search != null and search.q != null}">
	    <a th:class="'nav-link' + ('search' == ${tab} ? ' active' : '')"
	       th:href="@{/{id}/search?q={q}(id=${agency.id},q=${search.q})}" th:text="'Search results (' + ${medias.totalElements} + ')'"></a>
	  </li>
	</ul>
	<!-- TODO https://attacomsian.com/blog/spring-boot-thymeleaf-pagination/ -->
    <nav th:fragment="pagination_nav(page)" th:if="${page.totalPages > 1}" aria-label="Search results pages">
      <ul class="pagination">
        <li th:class="'page-item ' + (${pageNumber==page.number + 1} ? active)"
            th:each="pageNumber : ${pageNumbers}">
          <a class="page-link" th:if="${search == null or search.q == null}" th:href="@{''(size=${page.size}, page=${pageNumber-1})}" th:text="${pageNumber}">
          </a>
          <a class="page-link" th:if="${search != null and search.q != null}" th:href="@{''(q=${search.q}, size=${page.size}, page=${pageNumber-1})}" th:text="${pageNumber}">
          </a>
        </li>
      </ul>
    </nav>
  </body>
</html>