<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="_header :: common_header(~{::title},~{})">
    <title th:text="Spacemedia + ' - ' + ${agency.name}"></title>
  </head>
  <body>
    <nav th:replace="_header :: navbar"></nav>
    <h2 th:text="${agency.name}"></h2>
    <ul th:replace="_media :: tabs(${tab})"></ul>
    <!-- Medias tabs -->
    <div th:if="${medias}">
	    <nav th:replace="_media :: pagination_nav(${medias})"></nav>
	    <table class="table table-sm table-hover">
	      <thead class="thead-dark">
		      <tr>
		        <th>Media</th>
		        <th>Title</th>
		        <th>Date</th>
		        <th>Description</th>
		        <th th:if="'missing' != ${tab}">Commons</th>
		        <th th:if="'ignored' != ${tab}">Templates</th>
		        <th th:if="'uploaded' != ${tab}">Categories</th>
		        <th th:if="'ignored' == ${tab}">Reason</th>
		      <tr>
	      </thead>
	      <tbody>
		      <tr th:each="media : ${medias}">
		        <td>
		          <a th:href="${agency.getSourceUrl(media)}" class="imagelink">
		            <img th:src="${media.PreviewUrl}" width="210px" th:alt="${media.PreviewUrl}" />
		            <img th:if="${media.video}" class="cornerimage" width="80px" src="/Antu_videoclip-amarok.svg" alt="" />
		            <img th:if="${media.audio}" class="cornerimage" width="80px" src="/Antu_audio-volume-high.svg" alt="" />
		          </a>
                  <a th:href="@{/{id}/rest/refreshmedia/{mid}(id=${agency.id},mid=${media.id})}" target="_blank">
                    <img width="24" height="24" th:alt="'refresh ' + ${media.id}" th:src="@{/Gtk-refresh.svg}">
                  </a>
                  <a th:href="@{/{id}/rest/uploadmedia/{mid}(id=${agency.id},mid=${media.id})}" target="_blank" th:if="${agency.uploadEnabled}">
                    <img width="24" height="24" th:alt="'upload ' + ${media.id}" th:src="@{/Wlm-icon-upload-black.svg}">
                  </a>
		          <div th:if="'missing' == ${tab}" th:each="asset : ${media.assetsToUpload}">
		          	<a th:href="@{/{id}/rest/wiki/{sha1}(id=${agency.id},sha1=${asset})}" target="_blank">
		          		<img width="24" height="24" th:alt="'wikihtml ' + ${asset}" th:src="@{/Emblem-search.svg}">
		          	</a>
		          	<a th:href="@{/{id}/rest/wikicode/{sha1}(id=${agency.id},sha1=${asset})}" target="_blank">
		          		<img width="24" height="24" th:alt="'wikicode ' + ${asset}" th:src="@{/Curly_brackets_icon.svg}">
		          	</a>
		          	<a th:href="@{/{id}/rest/upload/{sha1}(id=${agency.id},sha1=${asset})}" target="_blank" th:if="${agency.uploadEnabled}">
		          		<img width="24" height="24" th:alt="'upload ' + ${asset}" th:src="@{/Wlm-icon-upload-red.svg}">
		          	</a>
		          </div>
		        </td>
		        <td th:text="${media.title}"></td>
		        <td th:text="${media.date}"></td>
		        <td th:utext="${media.description}"></td>
		        <td th:if="'missing' != ${tab}">
		          <div th:each="file : ${media.allCommonsFileNames}">
		            <a th:text="${file}" th:href="'https://commons.wikimedia.org/wiki/File:' + ${file}"></a><br>
		          </div>
		        </td>
		        <td th:if="'ignored' != ${tab}">
		          <div th:each="template : ${agency.findTemplates(media)}">
		            <a th:text="${template}"
		               th:href="@{https://commons.wikimedia.org/wiki/Template:{t}(t=${template.split('\|')[0].trim()})}"></a>
		          </div>
		        </td>
		        <td th:if="'uploaded' != ${tab}"><ul>
		          <li th:each="category : ${agency.findCategories(media, false)}">
		            <a th:text="${category}"
		               th:href="@{https://commons.wikimedia.org/wiki/Category:{t}(t=${category})}"></a>
		          </li></ul>
		        </td>
		        <td th:if="'ignored' == ${tab}">
		          <a th:text="${media.ignoredReason}"></a>
		          <div th:each="original : ${agency.getOriginalMedia(media)}">
		            <a th:text="${original.media.id} + ' (' + ${#numbers.formatDecimal(original.duplicate.similarityScore, 1, 2)} + ')'"></a>
		            <a th:href="${original.media.metadata.assetUrl}">
		              <img th:src="${original.media.previewUrl}" width="210px" alt="${original.media.previewUrl}"/>
		            </a>
		            <div th:each="file : ${original.media.allCommonsFileNames}">
		              <a th:text="${file}" th:href="'https://commons.wikimedia.org/wiki/File:' + ${file}"></a><br>
		            </div>
		          </div>
		        </td>
		      </tr>
	      </tbody>
	    </table>
	    <nav th:replace="_media :: pagination_nav(${medias})"></nav>
    </div>
    <!-- Problems tab -->
    <div th:if="${problems}">
	    <nav th:replace="_media :: pagination_nav(${problems})"></nav>
	    <table class="table table-sm table-hover">
	      <thead class="thead-dark">
		      <tr>
		        <th>URL</th>
		        <th>Problem</th>
		      <tr>
	      </thead>
	      <tbody>
		      <tr th:each="problem : ${problems}">
		        <td><a th:text="${problem.problematicUrl}" th:href="${problem.problematicUrl}"></a></td>
		        <td th:text="${problem.errorMessage}"></td>
		      </tr>
	      </tbody>
	    </table>
	    <nav th:replace="_media :: pagination_nav(${problems})"></nav>
    </div>
    <!-- Top terms tab -->
    <div th:if="${topterms}">
	    <table class="table table-sm table-hover">
	      <thead class="thead-dark">
		      <tr>
		        <th>Term</th>
		        <th>Occurrences</th>
		      <tr>
	      </thead>
	      <tbody>
		      <tr th:each="topterm : ${topterms}">
		        <td>
		          <a th:text="${topterm.termtext.utf8ToString()}"
		             th:href="@{/{id}/search?q={term}(id=${agency.id},term=${topterm.termtext.utf8ToString()})}">
		          </a>
		        </td>
		        <td th:text="${topterm.docFreq}"></td>
		      </tr>
	      </tbody>
	    </table>
    </div>
    <div th:replace="_header :: scripts"></div>
  </body>
</html>